# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
*.tgz

# Development
/src/mocks/**/*
kosei.config.json

# Changesets
.changeset/README.md

# Testing
coverage/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
